/*轮播样式*/
.swiper-container {
    width: 100%;
    margin-bottom: 28px;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide, .swiper-slide > img {
    width: 100%;
    overflow: hidden;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 25px;
}



/*搜索框*/
.dataSearch {
    width: 50%;
    min-width: 500px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto 40px;
}

.dataSearch > input {
    width: 85%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background: #F8F8F8;
    outline: none;
}

.dataSearch > button {
    width: 15%;
    height: 40px;
    background-color: #33AAB3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
}

/*-----------------------------------------*/
.select {
    height: 35px;
    background: #F8F8F8;
    padding-left: 20px;
    margin-bottom: 20px;
}

.select > ul > li {
    width: 130px;
    height: 18px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    opacity: 0.6;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.select>ul li:hover{
    color: #33AAB3;
    opacity: 1;
}
.select>ul li>a:hover{
    color: #33AAB3;
    opacity: 1;
}
.select>ul li>a:link{
    text-decoration: none;
}
/*---------------------------------------------------------------------------------*/
.dataBox{
    display: table;
    box-shadow: 0 2px 14px rgba(137, 155, 255, 0.2);
}
.dataBoxLeft {
    display: inline-block;
    width: 20%;
    background: #FFFFFF;
    position: relative;
    float: left;
    padding-bottom: 20px;
}

.dataLeft {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.dataBoxRig {
    width: 78%;
    background: #FFFFFF;
    border-left: solid 1px #eee;
    /*box-shadow: 0 2px 14px rgba(137, 155, 255, 0.2);*/
    padding: 20px 25px;
    overflow: auto;
    position: relative;
    float: left;
    margin-left: 10px;
}
.dataSelect{
    width: 100%;
}
.dataSelectShow{
    width: 100%;
}
.secMune{
    overflow-y: auto;
}
.thirdABox{
    position: relative;
}
.forthABox{
    position: relative;
}
/*一级菜单样式*/
.firstMune{
    position: relative;
}
.firstABox>a{
    display: block;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
}
.firstABox>a:hover,
.secondABox>a:hover,
.thirdABox>a:hover,
.forthABox>a:hover{
    color: #33AAB3;
}

.secondABox>a,.thirdABox>a,.forthABox>a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

.icon-jiantou{
    position: absolute;
    right: 15px;
    top:10px;
}
.firstCurrent{
    color:#33AAB3;
}
.secondABox{
    padding: 5px 0 5px 25px;
    position: relative;
}
.thirdABox{
    padding: 5px 0 5px 40px;
    position: relative;
}
.forthABox{
    position: relative;
    padding: 5px 0 5px 60px;
}
/*--------------------------------------------*/
.dataFixBox{
    width: 100%;
    background-color: #FFFFFF;
}
.dataSelect{
    background-color: #FFFFFF;
}
.dataSelect>dl>dd{
    width: 180px;
}
.dataSelect>dl>dd>span{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    letter-spacing: 2px;
    margin-right: 40px;
}
.dataSelect>dl>dt{
    width: 40px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
    letter-spacing: 2px;
    margin-right: 20px;
}
.checkBox{
    cursor: pointer;
}
.dataSelect>dl>dd input{
    margin-right: 10px;
}
.dataSelect>dl{
    margin-bottom: 20px;
}
.dataSelectResult{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 30px 0 18px 0;
    position: relative;
}
.dataSelectResult>span{
    height: 17px;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    color: #000000;
    letter-spacing: 2px;
}
.dataSelectResult>span:last-child:hover{
    cursor: pointer;
}
.dataSelectResult>span>a:hover{
    color: #33AAB3;
}
.checkBox>span{
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
    letter-spacing: 2px;
}

.resuleLeft{
    width: 60px;
    margin-right: 10px;
    padding: 5px;
}
.resuleLeft>img{
    width: 100%;
}
.resuleMid{
    width: 75%;
}
.resuleMidTop>a{
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    letter-spacing: 2px;
    cursor: pointer;
}
.resuleMidTop>a:hover{
    opacity: 1;
    color: #33AAB3;
}
.resuleMidTop{
    margin-bottom: 14px;
}
.resuleMidBot>span{
    height: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    letter-spacing: 1px;
    opacity: 0.5;
    margin-right: 20px;
}
.resuleMidBot span>i{
    font-size: 16px;
    color: #000000;
    opacity: 0.6;
    margin-right: 10px;
}
.resuleRig{
    width: 15%;
}
.resuleRig>button{
    width: 50%;
    min-width: 50px;
    margin: auto 0;
    margin-bottom: 10px;
    display: flex;
    height: 18px;
    line-height: 18px;
    outline: none;
    background-color: transparent;
}

.resuleRig button>p{
    height: 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    letter-spacing: 2px;
    vertical-align: middle;
    cursor: pointer;
}


.resuleRig button>i{
    font-size: 18px;
    margin: auto 0;
    margin-right: 10px;
    cursor: pointer;
    color: #000000;
    opacity: 0.5;

}
.resuleRig>button:last-child{
    margin-bottom: 0;
}
.resuleRig button:hover,
.resuleRig button>p:hover,
.resuleRig button>i:hover{
    opacity: 1;
    color: #33AAB3;
}
.dataSelectShow ul>li{
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dataSelectShow{
}
.dataSelectShow ul {
    overflow: auto;
}
.checkBox input[type='checkbox']{
    width: 16px;
    height: 16px;
}
.checkBox input[type='checkbox']:checked{
}
input[type='checkbox']:checked+i {
    background: #33AAB3;
    margin: -3.5px 5px 0 -29.5px;
    line-height: 17px;
}
input[type='checkbox']:checked{
    background-color: #FFFFFF;
}
label i{
    width: 17px;
    height: 17px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    line-height: 17px;
    color: #fff;
    vertical-align: middle;
    margin: -3.5px 5px 0 -29.5px;
    border-radius: 2px;
}
.dataSelectShowTop{
    width: 100%;
    margin-top: 20px;
}
.dataSelectShowTop>h6{
    display: inline-block;
    width: 100px!important;
    vertical-align: middle;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
    letter-spacing: 2px;
    margin-right: 10px;
}
.dataSelectShowTopDl>dt{
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
    letter-spacing: 2px;
    margin: 0 20px 0 10px;
    cursor: pointer;
}
.dataSelectShowTopDl>dd{
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #e8e8e8;
    margin: 0 20px 10px 0;

}
.dataSelectShowTopDl>dd>i{
    cursor: pointer;
}

.dataSelectShowTopDl>dd>span{
    font-size: 14px;
    color: #33AAB3;
    margin-right: 10px;
}

/*补充样式*/
.dataSelectLeft{
    display: block;
    width: 40px!important;
    height: 100%;
    margin-right: 10px;
}
.dataSelectLeft>h6{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2px;
}
.dataSelectMid{

}
.dataSelectRig{
    width: 100px;
}
.dataSelectRig:hover{
    cursor: pointer;
}
.dataSelectRig>span{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 2px;
}
.dataSelectMid>li:nth-child(-n+5){
    width: 25%;
}
.dataSelectMid>li:nth-child(n+6){
    width: 25%;
}

.dataSelectMid>li .checkBox>span{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    letter-spacing: 2px;
    margin-right: 40px;
}

.checkBox input[type='checkbox']{
    width: 16px;
    height: 16px;
}

input[type='checkbox']:checked+i {
    background: #33AAB3;
    margin: -3.5px 10px 0 -20.5px;
    line-height: 17px;
}
input[type='checkbox']:checked{
    background-color: #FFFFFF;
}
label i{
    width: 17px;
    height: 17px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    line-height: 17px;
    color: #fff;
    vertical-align: middle;
    margin: -3.5px 10px 0 -20.5px;
    border-radius: 2px;
}
.dataSelectFix{
    margin-top: 10px;
}

/*分页样式调整*/
.page{
    width: 100%;
    margin: 10px 0 -10px 0;
}
.activePage{
    background-color: #33AAB3!important;
    color: #FFFFFF!important;
}
.pagination>li>span{
    color: #33AAB3;
}
.activePage>span{
    background-color: #33AAB3!important;
    color: #FFFFFF!important;
}
.pagination>li>span:hover{
    background-color: #33AAB3!important;
    color: #FFFFFF!important;
}

.swiper-container{
    padding-top: 60px;
}
.materEveryNumBox{
    width: 100%;
    height: 50px;
    padding-top: 15px;
    /*padding-right: 10px;*/
}
.materEveryNum{
}
.materEveryNum span {
    font-size: 12px;
    margin: 0 3px;
    color: #999;
}
.materDropdown {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1.2;
}
.materDropdown span {
    display: inline-block;
    font-size: 12px;
    color: #666;
    height: 30px;
    line-height: 28px;
    border: 1px solid #e8e8e8;
    padding-left: 16px;
    padding-right: 40px;
    border-radius: 15px;
    cursor: pointer;
}
.materDropdown ul{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 0;
    transform: translate(-15px,-190px);
}
.materDropdown li{
    padding: 5px 30px;
}
.materDropdown li:hover{
    background-color:#33AAB3;
}

.materDropdown li a {
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    text-align: center;
    display: block;
    padding: 5px 10px;
}

.materDropdown i {
    font-size: 18px;
    line-height: 1;
    position: absolute;
    right: 16px;
    top: 7px;
    cursor: pointer;
}
.materDropdown ul {
    position: absolute;
    left: 0;
    buttom: 100%;
    top:auto;
    z-index: 1;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 0;
}
input[type="hidden" i] {
    display: none;
    appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
.on{
    position: fixed!important;
    bottom: 0;
    line-height: 40px;
    background-color: #fff;
    padding: 0;
}
.noList{
}

/*添加四级菜单线*/
.thrAct li::before{
    position: absolute;
    border-right: 1px dashed #d0d0d0;
    content: " ";
    left: 48px;
    top: 0;
    bottom: -6px;
}
/*火狐浏览器滚动条设置*/
body{
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    -ms-scrollbar-track-color: transparent;
}
/*右侧已选类型*/
.icon-gou{
    visibility: hidden;
}
.timeUl{
    width: 100px;
    background: #FFFFFF;
    z-index: 99;
    border: solid 2px #eee;
    border-radius: 8px;
}
.timeUl>li{
    height: 35px;
    line-height:35px;
    text-align: center;
}
.timeUl>li a{
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.timeUl>li a:hover{
    color: #33AAB3;
    font-weight: 600;
}
.timeOn{
    position: absolute;
    right:0;
    bottom: 100%;
    top: auto;
    margin-top: 0;
    margin-bottom: -22px;
}
.timeI{
    transition: all .3s;
    display: inline-block;
    transform: rotate(180deg);
}
.firstABox>a:hover,.secondABox>a:hover,
.thirdABox>a:hover,.forthABox>a:hover{
    color: #33AAB3!important;
}
