h1{
    font-size: 22px;
    text-align: center;
}
h2{
    font-size: 14px;
}

p{
    font-size: 11px;
}

/*------------------------------banner----------------------------------------*/
.banner>img{
    width: 100%;
}

/*-----------------------------Seclist---------------------------------------*/
.productBox{
    transform: translateY(-80px);
    background-color: #FFFFFF;
    box-shadow: 0 2px 16px rgba(137, 155, 255, 0.2);
}
.productBox>h1{
    height: 80px;
    line-height: 80px;
    color: #33AAB3;
}

.product,.productSec{
    padding: 35px 30px 30px 30px;
}
.productItem{
    width: 20%;
    padding: 10px;
    cursor: pointer;
}
.product>.productItem:last-child{
    margin-right: 0;
}
.productItem>img{
    width: 100%;
}
.itemName{
    margin: 23px auto 20px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.itemDesc{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
}
.itemDesc>span{
    height: 47px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    padding-bottom: 15px;
}
.productSec>.productItem{
    margin-bottom: 10px;
}
.productSec>.productItem>.itemDesc{
    opacity: 0.5;
}
.itemNameAct{
    color: #33AAB3;
}
.itemDescAct{
    border-bottom: 2px solid #33AAB3;
}
.itemNameActOne{
    color: #33AAB3;
}
.itemDescActOne{
    border-bottom: 2px solid #33AAB3;
}

.productSec{
    padding-bottom: 10px;
}

/*------------------------------machine--------------------------------------------------*/
.machineBox{
    width: 100%;
    height: 460px;
    padding: 50px 0;
    margin-top: -80px;
    background:url("../img/index/backgroundImg.png") no-repeat center;
}
.machineContent{
    height: 100%;
}
.machineTop{
    height: 46px;
}
.chooseTip{
    width: 20%;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #DCDDE0;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}
.chooseTipAct{
    width: 20%;
    height: 44px;
    line-height: 44px;
    box-shadow: 0 2px 16px rgba(137, 155, 255, 0.2);
}
.machineBot{
    justify-content: space-between;
    padding: 0 20px;
}
.machineBot>img{
    width: 15%;
    max-width: 210px;
    min-width: 100px;
}

.programTop{
    width: 188px;
    height: 188px;
    background: linear-gradient(357deg, #FFFFFF 0%, #F6F8FF 100%);
    border-radius: 50%;
}
.programTop>img{
    width: 76px;
    height: 76px;
}
.chooseType{
    justify-content: space-between;
    padding: 0 100px;
}
.techService{
    display: none;
    justify-content: space-between;
    padding: 0 100px;
}
.programBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 10px;
    cursor: pointer;
}
.programTitle{
    width: 100%;
    height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}
/*--------------------------productCenter--------------------------------------------------*/
.productCenter{
    width: 100%;
    background: url("../img/index/backImg.png") no-repeat center;
    background-size: cover;
    height: 0;
    min-height: 468px;
    padding-bottom: 33%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    position: relative;
}
.centerBox{
    height: 468px;
    margin: auto;
}
.centerBox>h1{
    position: absolute;
    height: 35px;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
}
.fonts_14>p{
    font-size: 15px!important;
    margin-bottom: 8px;
}
.centerBox>div:nth-child(2){
    width: 600px;
    height: 17px;
    position: absolute;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
}
.centerBox>div:nth-child(2)>p{
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    color: #FFFFFF;
}
.productLearnMore{
    flex: 1;
    width: 266px;
    margin: 0 auto;
    height: 41px;
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 136px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.productLearnMore>p{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 41px;
    color: #FFFFFF;
    margin-right: 8px;
}
.productLearnMore>img{
    width: 22px;
    height: 22px;
}
/*----------------------------plan----------------------------------------------*/
.planBox{
    flex-direction: column;
    margin-bottom: 20px;
}
.planTitleBox>h1{
    height: 35px;
    margin: 26px 0 13px;
    font-weight: 400;
    line-height: 35px;
    color: #33AAB3;
}
.planTitleBox>p{
    height: 17px;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    color: #333333;
    margin-bottom: 23px;
    font-size: 15px;
}

.planItem{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.planItemImgBox{
    width: 100%;
    overflow: hidden;
}
.planItemImg{
    background:url("../../src/img/index/planImg.png") no-repeat center;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    position: relative;
    transform: matrix(1,0,0,1,0,0);
}
.planItemImg:hover{
    transform:scale(1.02,1.02) matrix(1.02,0,0,1.02,0,0);
    -webkit-transition-duration:2s;
    overflow: hidden;
}

.planItem>h2{
    height: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
    margin: 12px 0;
}
.planItem>p{
    width: 100%;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}
.planItemBox{
    width: 25%;
    padding: 15px;
}
.planItemBox>div:nth-child(2){
    width: 100%;
    height: 2px;
    background: #000000;
    opacity: 0.05;
    margin: 23px 0 30px;
}
.planItemBox>div:nth-child(3){
    width: 100%;
    margin-bottom: 30px;
}
.planLearnMore{
    width: 50%;
    height: 42px;
    border: 1px solid #000000;
    margin: auto 0;
    cursor: pointer;
}
.planLearnMore>p{
    width: 50%;
    height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
.planLearnMore>img{
    width: 22px;
    height: 22px;
}

/*------------------threeItem-----------------------------------------------------------*/
.threeItemBoxBox{
    width: 33.33%;
    overflow: hidden;
}
.threeItemBox{
    width: 100%;
    height: 300px;
    position: relative;
    background: url("../img/index/threeImg.png") no-repeat center;
    cursor: pointer;
    overflow: hidden;
}
.threeItemBox:hover{
    transform:scale(1.02,1.02) matrix(1.02,0,0,1.02,0,0);
    -webkit-transition-duration:1s;
    overflow: hidden;
}

.threeItemTitle{
    position: absolute;
    left: 25px;
    bottom: 20px;
}
.threeItemTitle>p{
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 2px;
}
.threeItemTitle>img{
    width: 20px;
    height: 20px;
}
/*------------------------------threeBottomItem---------------------------------------------*/
.botArticleBoth{
    width: 20%;
    cursor: pointer;
}
.botArtBox>.botArticleBoth:first-child{
    width: 55%;
}

.indexBottomTop{
    padding: 0 175px;
    margin-bottom: 16px;
}
.indexBottomTop>ul{
    flex:1;
    justify-content: space-between;

}
.indexBottomTop>ul>li{
    cursor: pointer;
}
.indexBottomTop>ul>li>p{
    height: 35px;
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    color: #333333;
}
.botLine{
    width: 100px;
    height: 3px;
    background-color: rgba(255,255,255,0);
    border-radius: 2px;
}
.botLineAct{
    background-color: #33AAB3;
}
.indexBottomBot{
    margin-bottom: 25px;
}
/*-------------------------------------------------------------------------*/
.indexBottomBox{
    flex-direction: column;
}
.articleBig{
    width: 100%;
    height: 450px;
    position: relative;
    background: url("../img/index/articleImg.png") no-repeat center;
}
.artBigBox{
    position: absolute;
    left: 25px;
    bottom: 24px;
}

.artBigTitle{
    height: 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
}
.artBigSubtitle{
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}
.articleSmall{
    width: 100%;
    height: 450px;
    padding: 22px;
    background-color: #F8F8F8;
    border-radius: 2px;
}
.artSmallTitle{
    height: 53px;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    color: #333333;
    letter-spacing: 2px;
    margin: 80px 0 25px;
}
.artSmallSubtitle{
    height: 17px;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    margin-bottom: 110px;
}
.artSmallMore{
    flex: 1;
    justify-content: flex-end;
}
.artSmallMore>img{
    width: 25px;
    height: 25px;
}
.artBothMore{
    display: block;
    width: 150px;
    height: 46px;
    margin-top: 25px;
    border: 1px solid #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
}
/*-----------------文章--------------------------------------------------------------*/

.indexArticleBox{
    width: 20%;
    height: 450px;
    padding-right: 20px;
}
.botArtBox>.indexArticleBox:last-child{
    padding-right: 0;
}

.indexArticle{
    width: 100%;
    height: 100%;
    background-color:#F8F8F8;
}

.articleAct{
    width: 60%;
    height: 450px;
    padding-right: 20px;
}

.artAct{
    background: url("../img/index/articleImg.png") no-repeat center;
}

.titleBox{
    width: 100%;
    height: 100%;
    padding: 150px 15px 0 15px;
}

.titleAct{
    padding: 380px 0 0 20px;
}

.titleBox>h2{
    height: 53px;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    color: #333333;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.titleBox>h3{
    display: none;
}

.titleBox>h4{
    height: 17px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    display: block;
    margin-bottom: 100px;
}

.titleBox>img{
    width: 25px;
    height: 25px;
    display: block;
}

.titleAct>h2{
    height: 26px;
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.titleAct>h3{
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    display: block;
}

.titleAct>h4{
    display: none;
}
.titleAct>img{
    display: none;
}

.show{
    display: flex;
}
.hide{
    display: none;
}




